.App {
  text-align: center;
}




.App-header {
  background-color: #93dff1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.stamp{
  text-align: center;
}

.App-link {
  color: #61dafb;
}
.stamp {
  position: relative;
  display: inline-block;
  color: rgb(0, 0, 0);
  padding: 15px;
  background-color: white;
  box-shadow:inset 0px 0px 0px 4px rgb(0, 0, 0);
}

.stamp:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("http://i.imgur.com/5O74VI6.jpg");
  mix-blend-mode: lighten;
}
.bold{
  font-size: calc(5px + 5vmin);
}
.input-form{
  margin-top: 50px;

}

.hidden{
  display: none;
}
.notFound{
  text-transform: unset;
  color: rgb(255, 255, 255);
  background-color: rgb(131, 19, 19);
  padding: 15px;
}
.header{
padding-bottom: 50px;
}